<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" href="style.css" />
	<title>SIAK UMMI 2014</title>
</head>
<body>
	<div id="center">
	<div id="top"></div>
	<div id="btn">
		<a href="http://siak.ummi.ac.id/ummi-public/index.php/home/logDosen">
			<div class="btn-item-1"></div>
		</a>
		<a href="http://siak.ummi.ac.id/ummi-public/index.php/home/logMhs">
			<div class="btn-item-2"></div>
		</a>
	</div>
</div>
<div id="foot">Copyright &copy; Universitas Muhammadiyah Sukabumi 2014</div>
</body>
</html>
